* {
  margin: 0px;
  padding: 0px;
  font-style: Montserrat !important;
}
body {
  background-color: white;
}
h1 {
  font-family: "Reenie Beanie", "Monsterrat", Arial, sans-serif;
  text-align: center;
  font-size: 40pt;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
img {
  max-width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}
.btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  box-shadow: 0px 0px 15px #fe863d;
}
.links {
  color: orange !important;
  text-decoration: none !important;
}
