<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add A Dog | Puppy Love</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/browser-icon.png' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Kristi|Miss+Fajardose|Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/add_dog.css' %}" />
  </head>
  <body>
    <div id="form_panel">
      <img id="logo" src="{% static 'img/logo_small.png' %}" />
      <form action="/process_dog" method="POST">
        <h3>Add your dog.</h3>

        <div>
          <input
            type="text"
            name="dog_name"
            class="question"
            id="nme"
            required
            autocomplete="off"
          />
          <label for="dog_name"><span>Name</span></label>
        </div>
        <div>
          <input
            type="text"
            name="dog_age"
            class="question"
            id="nme"
            required
            autocomplete="off"
          />
          <label for="dog_age"><span>Age</span></label>
        </div>
        <div>
          <input
            type="text"
            name="dog_breed"
            class="question"
            id="nme"
            required
            autocomplete="off"
          />
          <label for="dog_breed"><span>Breed</span></label>
        </div>
        <div>
          <input
            type="text"
            name="text"
            class="question"
            id="nme"
            required
            autocomplete="off"
          />
          <label for="city"><span>City</span></label>
        </div>
        <div>
          <input
            type="text"
            name="text"
            class="question"
            id="nme"
            required
            autocomplete="off"
          />
          <label for="state"><span>State</span></label>
        </div>
        <div>
          <input
            type="text"
            name="text"
            class="question"
            id="nme"
            required
            autocomplete="off"
          />
          <label for="zip"><span>Zip Code</span></label>
        </div>
        <div>
          <textarea
            type="text"
            name="dog_desc"
            class="question"
            id="nme"
            required
            autocomplete="off"
          ></textarea>
          <label for="dog_desc"><span>Tell us more about your dog</span></label>
          <div class="form-group">
            <label for="exampleFormControlFile1" id="photolabel"
              >Upload a photo of your dog</label
            >
            <input
              type="file"
              class="form-control-file"
              id="exampleFormControlFile1"
            />
          </div>
        </div>
        <div class="choices">
          <input type="checkbox" name="agree_rated" id="checkbox" />
          <label class="agree">I would like to have my dog rated</label>
        </div>
        <div class="choices">
          <input type="checkbox" name="agree_playdate" id="checkbox" />
          <label class="agree"
            >I would like to sign my dog up for playdate matching</label
          >
        </div>
        <button class="btn btn-warning">Add dog</button>
      </form>
      <button id="skip" class="btn btn-outline-warning">
        <a href="/dashboard" class="links">Skip</a>
      </button>
    </div>
  </body>
</html>
