<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Puppy Love: Tinder For Dogs</title>
    {% load static %}
    <link
      href="https://fonts.googleapis.com/css?family=Kristi|Miss+Fajardose|Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}" />
  </head>
  <body>
    <img src="{% static 'img/corgi-home.gif' %}" />
    <h1>Puppy Love</h1>
    <button class="btn btn-outline-warning">
      <a href="/login" class="links"> Enter here</a>
    </button>
  </body>
</html>
