<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Puppy Love</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/browser-icon.png' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Kristi|Miss+Fajardose|Reenie+Beanie&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}" />
  </head>
  <body>
    <div id="form_panel">
      <img id="logo" src="{% static 'img/logo_small.png' %}" />
      <form action="/process_login" method="POST" class="form-group">
        <div class="form-elements">
          <input
            type="text"
            name="username"
            class="question"
            id="nme"
            required
            autocomplete="off"
          />
          <label for="username"><span>Username</span></label>
        </div>
        <div class="form-elements">
          <input
            type="password"
            name="password"
            class="question"
            id="nme"
            required
            autocomplete="off"
          />
          <label for="password"><span>Password</span></label>
        </div>
        <button class="btn btn-warning">Log in</button>
      </form>
      <p id="already">
        Don't have an account?
        <a href="/registration" class="links">Register now.</a>
      </p>
    </div>
  </body>
</html>
